*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


/* BLOCCO MACRO-STRUTTURA SOPRA*/
#wrapper{
    height: calc(100vh - 100px);
    background-color: red;
    display: flex;
}
 
/* navigazione di sinsitra */
#wrapper nav{
    height: 100%;
    width: 200px;
    background-color: rgb(1, 3, 12);
    position: relative;
    overflow: hidden;
}

/* contenuto della parte principale */
#wrapper main{
    height: 100%;
    width: calc(100% - 200px);
    background-color: rgb(18, 25, 37);
    overflow: auto;
}

/* blocco upgrade */
main .upgrade{
    height: 70px;
    width: 100%;
    background-color: rgb(10, 13, 22);
}


/* FOOTER blocco player */
#player{
    height: 100px;
    background-color: rgb(51, 51, 51);
}


/* Parametri blocco navigazione-sinistra */

nav .logo-spotify{
    color: white;
    margin-top: 20px;
    margin-left: 15px;
}

nav .fa-spotify{
    font-size: 30px;
}

nav strong{
    font-size: 20px;
}



nav .logo-home{
    display: flex;
    color: white;
    margin-top: 25px;
    margin-left: 15px;
}

nav .fa-house{
    font-size: 15px;
}

nav h2{
    font-size: 10px;
    margin-top: 5px;
    margin-left: 5px;
}



nav .logo-search{
    display: flex;
    color: gray;
    margin-top: 10px;
    margin-left: 15px;
}

nav .logo-search:hover{
    color: white;
}


nav .fa-magnifying-glass{
    font-size: 15px;
}

nav .cerca{
    margin-top: 3px;
    font-size: 10px;
}



nav .logo-libreria{
    display: flex;
    color: gray;
    margin-top: 10px;
    margin-left: 15px;
}

nav .logo-libreria:hover{
    color: white;
}

nav .fa-list{
    font-size: 15px;
}

nav .libreria{
    margin-top: 3px;
    font-size: 10px;
}



nav .playlist h2{
    color: white;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 10px;
}



nav .crea-playlist{
    display: flex;
    color: gray;
    margin-top: 10px;
    margin-left: 15px;
}

nav .crea-playlist:hover{
    color: white;
}

nav .fa-square-plus{
    font-size: 30px;
}

nav .crea-playlist h2{
    font-size: 10px;
    margin-left: 10px;
    margin-top: 10px;
}



nav .creazioni-playlist{
    color: gray;
    margin-top: 10px;
    margin-left: 15px;
}

ul li{
    list-style: none;
    margin-bottom: 15px;
}

nav .nome-playlist{
    font-size: 10px;
}

nav .playlist-1:hover{
    color: white;
}

nav .playlist-2:hover{
    color: white;
}

nav .playlist-3:hover{
    color: white;
}

nav .playlist-4:hover{
    color: white;
}

nav .playlist-5:hover{
    color: white;
}

nav .playlist-6:hover{
    color: white;
}

nav .playlist-7:hover{
    color: white;
}



nav .installa-app{
    display: flex;
    color: gray;
    margin-left: 15px;
    border-bottom: 1px solid gray;
    margin-right: 20px;
}

nav .fa-circle-down{
    font-size: 12px;
}

nav .installa-app h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

nav .installa-app:hover{
    color: white;
}

nav .installa-app{
    position: absolute;
    bottom: 35px;
}



nav .nome-utente{
    display: flex;
    color: gray;
    margin-left: 15px;
    margin-top: 10px;
}

nav .nome-utente h2{
    color: white;
    margin-top: 3px;
}

nav .nome-utente{
    position: absolute;
    bottom: 10px;
}



/* Parametri di main */

.upgrade .buttone{
    background-color: rgb(0, 0, 0, 0.1);
    color: white;
    padding: 10px 30px;
}

.upgrade{
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.buttone{
    margin: 15px 0px;
    margin-right: 10px;
    border-radius: 30px;
}

.buttone:hover{
    font-size: 15px;
}



.titoli-categorie{
    color: gray;
    font-size: 8px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.evidenza{
    border-bottom: 2px solid greenyellow;
    margin-right: 20px;
}

.podcast{
    margin-right: 20px;
}

.classifiche{
    margin-right: 20px;
}

.mood{
    margin-right: 20px;
}

.nuove-uscite{
    margin-right: 20px;
}

.scopri{
    margin-right: 20px;
}

.evidenza:hover{
    color: white;
}

.podcast:hover{
    color: white;
}

.classifiche:hover{
    color: white;
}

.mood:hover{
    color: white;
}

.nuove-uscite:hover{
    color: white;
}

.scopri:hover{
    color: white;
}



.ascoltato-recentemente h2{
    color: white;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 15px;
}



.immagini{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}

/* HEAVY METAL */
.metal h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.metal .sottotitoli{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

/* .metal .fa-circle-play{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 65px;
    left: 80px;
} */

.metal img:hover{
    filter: brightness(0.4)
}

/* STRANGER THINGS */
.stranger h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.stranger .dixon-stein{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.stranger img:hover{
    filter: brightness(0.4)
}

/* A QUIET PLACE */
.place h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.place .sottotitoli{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.place img:hover{
    filter: brightness(0.4)
}

/* SPLIT */
.split h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.split .sottotitoli{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.split img:hover{
    filter: brightness(0.4)
}

/* A CURE FOR WELLNESS */
.cure h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.cure .sottotitoli{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.cure img:hover{
    filter: brightness(0.4)
}

/* SINISTER */
.sinisterr h2{
    font-size: 15px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.sinisterr .sottotitoli{
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 10px;
}

.sinisterr img:hover{
    filter: brightness(0.4)
}



.per-doe{
    color: white;
    margin-top: 40px;
    margin-left: 15px;
}

.suggerimenti{
    color: gray;
    font-size: 8px;
    margin-top: 10px;
    margin-left: 15px;
}



.immagini-mix{
    margin-left: 15px;
    margin-top: 30px;
}

.immagini-mix .mixdaily{
    margin-left: 15px;
}

.immagini-mix img:hover{
    filter: brightness(0.4)
}



.artisti{
    color: white;
    margin-left: 15px;
    margin-top: 35px;
}



.lana-einaudi{
    margin-top: 30px;
    margin-left: 15px;
}

.lana-einaudi .einaudi{
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 50%;
}

.lana-einaudi .lana{
    border: 1px solid black;
    border-radius: 50%;
}

.lana-einaudi img:hover{
    filter: brightness(0.4)
}



/* Parametri del FOOTER */

.immagine-sinister{
    display: flex;
    position: relative;
}

.immagine-sinister img{
    margin-top: 25px;
    margin-left: 10px;
}

.immagine-sinister h2{
    font-size: 15px;
    color: white;
    margin-top: 40px;
    margin-left: 10px;
}

.immagine-sinister .brano-nome{
    font-size: 11px;
    color: gray;
    position: absolute;
    left: 60px;
    top: 17px;
}

.immagine-sinister .cuore{
    color: gray;
    position: relative;
    left: 60px;
    top: 45px;
}

.immagine-sinister .cuore:hover{
    color: white;
}

.immagine-sinister .cartella{
    color: gray;
    position: relative;
    left: 75px;
    top: 45px;
}

.immagine-sinister .cartella:hover{
    color: white;
}



.pulsanti{
    color: white;
    margin-left: 45%;
    margin-top: -60px;
    font-size: 20px;
}

.pulsanti .fa-arrows-turn-right{
    margin-right: 10px;
}

.pulsanti .fa-arrow-left{
    margin-right: 15px;
}

.pulsanti .fa-circle-play{
    margin-right: 15px;
}

.pulsanti .fa-arrow-right{
    margin-right: 10px;
}
   


.pulsanti-destra{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    color: white;
    font-size: 13px;
}

.pulsanti-destra .fa-list{
    margin-right: 15px;
}

.pulsanti-destra .fa-tv{
    margin-right: 15px;
}


/* VERSIONE MOBILE */
@media screen and (max-width: 480px) {

    #wrapper nav{
        width: 100px;
    } 

    #wrapper main{
        width: calc(100% - 100px);
    }



    #wrapper nav{
        width: 50px;
    }

    #wrapper main{
        width: calc(100% - 0px);
    }



    nav .logo-spotify{
        margin-top: 5px;
        margin-left: 10px;
    }
    
    nav strong{
        display: none;
    }



    nav .logo-home{
        margin-top: 15px;
    }
    
    nav h2{
       display: none;
    }


    
    nav .cerca{
        display: none;
    }



    nav .libreria{
        display: none;
    }



    nav .playlist h2{
        display: none;
    }
    

    
    nav .fa-square-plus{
        display: none;
    }
    
    nav .crea-playlist h2{
        display: none;
    }



    nav .creazioni-playlist{
        display: none;
    }



    nav .installa-app{
        border-bottom: 1px solid #000;
    }

    nav .installa-app h2{
        display: none;
    }

    nav .fa-circle-down{
        margin-left: 2px;
    }



/* PARAMETRI MAIN */

    main .upgrade{
        width: 100%;
    }

    #wrapper main{
        height: 100%;
        width: 100%;
    }

    .titoli-categorie{
        display: flex;
        flex-wrap: wrap;
        font-size: 8px;
    }

    .titoli-categorie .nuove-uscite ,.scopri{
        margin-top: 30px;
    }

    .ascoltato-recentemente h2{
        font-size: 20px;
    }

    .immagini{
        display: flex;
        flex-wrap: wrap;
    }

    .immagini img{
        height: 190px;
    }

    .lana-einaudi img{
        height: 190px;
    }



    /* FOOTER PLAYER */

    #player{
        width: 100%;
    }
    
    .immagine-sinister img{
        height: 30px;
        margin-top: 35px;
    }

    .immagine-sinister h2{
        font-size: 12px;
        margin-top: 30px;
    }
    
    .immagine-sinister .brano-nome{
        font-size: 10px;
        margin-left: -10px;
    }

    .immagine-sinister .cuore{
        font-size: 14px;
        left: 40px;
        top: 30px;
    }
        
    .immagine-sinister .cartella{
        font-size: 14px;
        left: 25px;
        top: 50px;
    }

    .pulsanti{
        margin-left: 35%;
    }

    .pulsanti-destra{
        margin-top: 15px;
    }
}